<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>DZISIAJ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tasks-container">

    <div class="tasks-list">
      @for (task of tasks; track task.id) {
      <div id="task-{{ task.id }}" class="task-card" [class.done]="task.done"
        [class.in-progress]="isTaskInProgress(task)" [style.height.px]="getTaskHeight(task)">
        <div class="task-content">
          <span class="task-time">{{ getTaskTime(task) }}</span>
          <div class="task-title" (click)="openEditModal(task)">{{ task.title }}</div>
          <span class="task-duration">{{ getTaskDuration(task) }}</span>
          @if (task.completionType === 1) {
          <ion-checkbox class="task-checkbox" [checked]="task.done" (ionChange)="toggleTask(task)"
            (click)="$event.stopPropagation()">
          </ion-checkbox>
          } @else {
          <div class="checkbox-placeholder"></div>
          }
        </div>
      </div>
      }
    </div>

    <!-- Czerwona linia aktualnego czasu - teraz relative do .tasks-container -->
    <div id="current-time-line" class="current-time-line">
      <div class="time-line"></div>
      <div class="time-indicator"></div>
    </div>
  </div>

  <!-- FAB Button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAddModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>