<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>W TYGODNIU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tasks-list">
    @for (task of tasks; track task.id) {
    <div class="task-item" [class.task-done]="task.done" [class.task-weekly]="task.frequency === 1" (click)="toggleTask(task)">
      <div class="task-content">
        <div class="task-header">
          <h2 (click)="openEditModal(task); $event.stopPropagation()">{{ task.title }}</h2>
          <p class="task-time">{{ getTaskTime(task) }}</p>
        </div>
        <p class="task-duration">{{ getTaskDuration(task) }}</p>
      </div>
      @if (task.completionType === 1) {
      <ion-checkbox class="task-checkbox" [checked]="task.done" (ionChange)="toggleTask(task)" (click)="$event.stopPropagation()">
      </ion-checkbox>
      }
    </div>
    }
    @empty {
    <div class="empty-state">
      <p>Brak zadań tygodniowych</p>
    </div>
    }
  </div>

</ion-content>

<app-fab-button (add)="openAddModal()"></app-fab-button>
<app-footer currentTab="week"></app-footer>