<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>W TYGODNIU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (task of tasks; track task.id) {
    <ion-item [class.task-done]="task.done" [class.task-weekly]="task.frequency === 1" (click)="toggleTask(task)" (press)="openEditModal(task)">
      <ion-label>
        <div class="task-header">
          <h2>{{ task.title }}</h2>
          <p class="task-time">{{ getTaskTime(task) }}</p>
        </div>
        <p class="task-duration">{{ getTaskDuration(task) }}</p>
      </ion-label>
      @if (task.completionType === 1) {
      <ion-checkbox slot="end" [checked]="task.done" (ionChange)="toggleTask(task)" (click)="$event.stopPropagation()">
      </ion-checkbox>
      }
    </ion-item>
    }
    @empty {
    <div class="empty-state">
      <p>Brak zadań tygodniowych</p>
    </div>
    }
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAddModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>