.time-picker {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.time-input {
  flex: 1;
  text-align: center;
}

.time-separator {
  font-size: 20px;
  font-weight: bold;
}

.buttons {
  padding: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
